.piku-app button.app-action {
    display: block;
    width: 100%;
    background: white;
    color: var(--color);
    border: 1px solid var(--color);
    margin: 8px 0;
}

.piku-app .app-meta {
    list-style: none;
}

.piku-app .applabel-inactive {
    background: #7b7b7b;
}
